address,blockquote,body,button,center,div,dl,input,ins,kbd,label,legend,menu,multicol,ol,p,pre,select,th,td,textarea,ul {
     font-family : verdana,arial,helvetica,geneva,sunsans-regular,sans-serif; font-size : small; }
a:hover { color: #FF00FF; }
.b_align_n {
  text-align: center;
  vertical-align: top;
}
.b_align_ne {
  text-align: right;
  vertical-align: top;
}
.b_align_e {
  text-align: right;
  vertical-align: middle;
}
.b_align_se {
  text-align: right;
  vertical-align: bottom;
}
.b_align_s {
  text-align: center;
  vertical-align: bottom;
}
.b_align_sw {
  text-align: left;
  vertical-align: bottom;
}
.b_align_w {
  text-align: left;
  vertical-align: middle;
}
.b_align_nw {
  text-align: left;
  vertical-align: top;
}
.b_align_n {
  text-align: center;
  vertical-align: top;
}
.b_align_center {
  text-align: center;
}
.b_align_left {
  text-align: left;
}
.b_align_right {
  text-align: right;
}
.b_align_top {
  vertical-align: top;
}
.b_align_bottom {
  vertical-align: bottom;
}
